

body{
    font-family:'Poppins'
}
    #bg-image {
    background-image: url("shah.jpg"); 
    background-size: cover;
    height: 800px;
    width:100%;
    background-position: center center;
    background-repeat: no-repeat;
   margin:0px;
    align-items: center;
    justify-content: center;
   
}
   

  .overlay {
    background-color: rgba(0, 0, 0, 0.5); /* Dark overlay for readability */
    color: white;
    padding: 20px;
    height: 100%;
    width: 100%; /* Ensure the overlay covers the entire section */
}
.navbar-custom {

background-color: #747575d5; /* Change to your desired background color */
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow */
}
.navbar-brand {
font-weight: bold;
color: #505cfd /* Change to your desired brand color */
}
.nav-link {
color: #505cfd; /* Default link color */
margin-right: 15px;
}
.nav-link:hover {
color: #505cfd; /* Hover color */
}
.btn-custom {
background-color: #50d2fdbf;
color: #ffffff;
border-radius: 30px;
padding: 8px 20px;
transition: background-color 0.3s;
}
.btn-custom:hover {
background-color: #505cfd;
color: #ffffff;
}

.hero-content {
    position: relative;
    z-index: 2;
    margin-top: 10%;
    top: 50%;
    transform: translateY(-50%);
}

#hero-content h1 {
font-size: 25px;
    font-weight: bold;
}
.hero-content .highlight {
    color: #505cfd;
    
    font-weight: bold;
}

.btn-custom {
    background-color: #505cfd;
    color: rgb(34, 12, 105);
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 1.1rem;
}

.skills-section {
            padding: 50px 0;
           
        }
        .skills-section h2 {
            font-size: 2.5rem;
            margin-bottom: 40px;
            
        }
        .progress {
         
            height: 20px;
            background-color: transparent;
            border: 2px solid #505cfd;
            border-radius: 10px;
            
        }
        .progress-bar {
            background-color: #505cfd;
            line-height: 16px;
            font-size: 0.875rem;
            color: #fff;
            
        }
        .load-more {
            display: block;
            width: 200px;
            margin: 20px auto;
            text-align: center;
        }

        .btn-download {
    background-color:#505cfd;
    color:#f4f1f6;
    border: 2px solid#505cfd;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.btn-download:hover {
    background-color: #fff;
    color: #505cfd;
        
    }
#profile-info h1{
    margin-top: 2.5rem;
    font-size: 2rem; 
}
#profile-info h3{
    font-size: 1.2rem; 
   
}
.skills-section {
            padding: 50px 0;
           
        }
        .skills-section h2 {
            font-size: 2.5rem;
            margin-bottom: 40px;
            
        }
        .progress {
         
            height: 20px;
            background-color: transparent;
            border: 2px solid #505cfd;
            border-radius: 10px;
            
        }
        .progress-bar {
            background-color: #505cfd;
            line-height: 16px;
            font-size: 0.875rem;
            color: #fff;
            
        }
        .skill-item {
            margin-bottom: 4px;
        }
        .timeline {
    position: relative;
    margin-top: 20px;
    padding-left: 20px;
}

.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20px; /* Align with the center of the markers */
    width: 2px;
    background-color: #ddd; /* Color of the vertical line */
    z-index: 0; /* Ensure it stays behind the markers */
}
#edbgorange {

    background: #3d77ff;
    width: 30%;
    height: 30px;
    border-radius: 100px 0px 150px 100px;
}
#edbggray {
        background: #3d77ff9e;
        width: 30%;
        height: 30px;
        border-radius: 100px 0px 150px 100px;
    }
   
    #edbGray {
    background-color: #f4f5f8;
    padding: 10px;
    border-radius: 5px;
}
.timeline-marker-container {
    position: relative;
    padding-left: 25px;
}

.timeline-marker {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 10px;
    z-index: 1;
}

.timeline-year {
    margin-top: 20px;
    padding: 4px 9px;
    display: inline-block;
    border-radius: 20px;
    text-align: center;
    
}

.timeline-content {
    position: relative;
    background-color: #f8f9fa;
    
}

.timeline-title {
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 5px;
}

.timeline-subtitle {
  font-size: 1.15rem;
    margin-bottom: 5px;
    font-weight: bolder;
}

.timeline-description {
    font-size: 17px;
}

.badge-pill{
    font-size: 1rem;
    line-height: 1.5;
}
.icon-container {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #333;
    

}



.service-item h5 {
    font-weight: bold;
    margin-top: 15px;
    font-size: 1.25rem;
}

.service-item p {
    font-size: 1rem;
    color: #666666;
   
    margin-top: 0px;
    margin-bottom: 1rem;
    text-align: center;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}



.badge-pill {
    border-radius: 50px;
}

.section-title {
            text-align: center;
            margin-bottom: 40px;
            font-weight: bold;
            font-size: 1.5rem;
        }

        .btn-custom2 {
            display: block;
            margin: 20px auto;
            text-align: center;
            color: white;
            background-color: #505cfd;
            border: none;
        }
        .counter-wrapper{
            background: url(5172658.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            display: flex;
            grid-template-columns: repeat(4, 1fr);
            grid-column-gap: 1.5rem;
            padding: 10rem 9%;
            margin-top: 5rem;
            position: relative;
        }
        .counter-wrapper::before{
            position: absolute;
            content: '';
            content: 0;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.7);
            z-index: 1;
        }
        .counter{
           text-align: center;   
           color: #ddd;
           z-index: 2;
           position: relative;
        }
        .counter::before{
            position: absolute;
            content: '';
            bottom: -2rem;
            left: 50%;
            width: 20%;
            height: .2rem;
            background: #4DB7FE;
            border-radius: .5rem;
            -webkit-border-radius: .5rem;
            -moz-border-radius: .5rem;
            -ms-border-radius: .5rem;
            -o-border-radius: .5rem;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
        }
        .counter .count{
            font-size: 1.30rem;
            margin-bottom: 1rem;    
        }
        .counter p{
            font-size: 1.4rem;
            font-family: 'Times New Roman', Times, serif;
            font-weight: 400;
        }
   

        #filter-buttons button {
  border-radius: 3px;
  background: #fff;
  border-color: transparent;
}

#filter-buttons button:hover {
  background: #ddd;
}

#filter-buttons button.active {
  color: #fff;
  background: #6c757d;
}
.filter-btn-group .btn {
      margin-right: 10px;
      margin-bottom: 10px;
    }

    .filter-btn-group .active {
      background-color: #007bff;
      color: white;
    }
    /* Style to make all images uniform */
    .gallery-item {
      margin-bottom: 15px;
    }

    .gallery-item img {
        
        margin-left: 2%;
        margin-right:2%;
      width: 95%;
      height: 200px; /* Fixed height for uniformity */
      object-fit: cover; /* Ensures the image fits nicely within the container */
      border-radius: 10px;
    }

    /* Filter buttons styling */


    /* Responsive design adjustments */
    
    
        .load-more {
            display: block;
            width: 200px;
            margin: 20px auto;
            text-align: center;
        }

        #iconbg {
            background-color: #0d0d27;
     padding: 80px;
            margin-top: 40px;
    
      display: flex;
      justify-content: center;
    }

    #iconsection {
     
    font-size: 60px;
    padding: 40px;
    border-radius: 100%;
    color: white;
    }


        
       .section-title2{
        font-size: 2rem;
        font-weight: bold;
       }

        .contact-section iframe {
            width: 100%;
            height: 400px;
            border: none;
       
    font-size: 25px;
}
        

        .contact-form {
            
            margin-top: 20px;
        }

        .contact-form input, .contact-form textarea {
            margin-bottom: 10px;
        }

    #abc{
        background-color: #1a1a2e;
            color: #dcdde1;
            font-family: 'Arial', sans-serif;
    }
        .footer {
      
            padding: 40px 0;
            background-color: #0d0d27;
        }
        .footer h1{
            font-size: 2.5rem;
            font-weight: bold;
        }
        .footer h5 {
            font-size: 19px;
            margin-bottom: 20px;
            font-weight: bold;
        }
        .footer p, .footer a {
            color: #dcdde1;
            font-size: 16px;
        }
        .footer a:hover {
            color: #505cfd;
            text-decoration: none;
        }
        .footer .subscribe-btn {
            background-color: #505cfd;
            border: none;
            color: white;
            padding: 10px 20px;
        }
        .footer .subscribe-btn:hover {
            background-color: #505cfd;
        }
        .footer .divider {
            border-bottom: 1px dashed #dcdde1;
            margin-bottom: 15px;
        }
        .footer .credit {
            margin-top: 0;
    margin-bottom: 1rem;

            font-size: 16px;
        }
        .footer .credit a {
            color: #505cfd;
        }